body, html {
    background-color: #2d294c;
    color: white;
}

.header {
    background-color: #413d5d;
    vertical-align: middle;
    padding: 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.header__menu > a {
    color: white;
    line-height: 2rem;
}

.logo > span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.logo > img {
    width: 25px;
}

.container-principal {
    width: 55%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-top: 5rem;
}

h1 {
    color: #736ab3;
    font-weight: bold;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}

#senhaErrada{
    color: red;
    font-size: 12px;
}

.naoMostrar{
    display: none;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


button {
    background-color: #5e5796 !important;
    width: 25%;
    color: white;
}