body, html {
    background-color: #2d294c;
    color: white;
}

.header {
    background-color: #413d5d;
    vertical-align: middle;
    padding: 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.opcoes > a{
    line-height: 2rem;
    color: white;
}

.logo > span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.logo > img {
    width: 25px;
}

.minhas-colecoes {
    margin-right: 20px;
}

.container-principal {
    margin-top: 2rem;
    margin-left: 30px;
    margin-right: 30px;
}

.container-principal>span {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.input-busca{
    margin-top: 5px;
}

.novo-cartao{
    margin-top: 2rem;
    margin-left: 30px;
    margin-right: 30px;
}

.novo-cartao>.btn{
    background-color: #5e5796 !important;
    padding: 10px 20px;
    color: white;
}

input {
    border-radius: 5px;
}

.btn-primary {
    border-color: none !important;
}

#btn-envio>.btn {
    border: 1px solid grey;
}

.nome-colecao>a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.list-group-item {
    padding: .2rem .6rem !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .5px solid grey;
}

.modal-header{
    color: black;
}

.modal-body{
    color: black;
}

#salvar {
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
}