body, html {
    background-color: #2d294c;
    color: white;
}

.header {
    background-color: #413d5d;
    vertical-align: middle;
    padding: 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.opcoes > a{
    line-height: 2rem;
    color: white;
}

.logo > span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.logo > img {
    width: 25px;
}

.minhas-colecoes {
    margin-right: 20px;  
}

.titulo-pagina {
    margin: 3rem 0 0 35px;
}

.container-principal{
    margin-top: 2rem;
    margin-left: 30px;
    margin-right: 30px;
}

.container-principal > span{
    font-weight: bold;
    font-size: 25px;
}

.titulo {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.container-input{
    margin: 0 auto !important;
    width: 30%;
}

label {
    margin-bottom: 0;
}

input {
    border-radius: 5px;
}

.btn-primary {
    border-color: none !important;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#btn-envio > .btn{
    border: 1px solid grey;
}

#salvar {
    background-color: #5e5796 !important;
    width: 45%;
    color: white;
}

#txt-descricao{
    height: 7em;
    resize: none;
}