body, html {
    background-color: #2d294c;
    color: white;
}

.header {
    background-color: #413d5d;
    vertical-align: middle;
    padding: 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.container-principal {
    width: 50%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-top: 5rem;
}

h1 {
    color: #736ab3;
    font-weight: bold;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


button {
    background-color: #5e5796 !important;
    width: 35%;
    color: white;
}