body, html {
    background-color: #2d294c;
    color: white;
}

.header {
    background-color: #413d5d;
    vertical-align: middle;
    padding: 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.logo > span{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.logo > img {
    width: 25px;
}

.opcoes > a{
    line-height: 2rem;
    color: white;
}

.entrar{
    font-weight: bold;
    margin-left: 20px;
}

.container-principal {
    margin-top: 2rem;
    margin-left: 30px;
    margin-right: 30px;
}


h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 20px;
    color: #736ab3;
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.container-cartoes{
    width: 50%;
    margin: 0 auto;
}

.cartao-p{
    margin-top: 5rem;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 500;
}

.cartoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}

.clicar{
    color: #d4ff00;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 23%;
    text-align: center;
    font-weight: bold;
}

.clicar > img{
    width: 50%;
    align-self: flex-end;
}

.div-cartao{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartao {
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 60%;
    height: 220px;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 0;
}

.cartao-frente, .cartao-verso {
    font-size: 25px;
    text-align: center;
    height: 50%;
    padding: 15%;
    color: rgb(110, 108, 108);
}

.separacao {
    border-bottom: 1px solid rgb(168, 167, 167);
    margin: 0 auto 5px auto;
    width: 90%;
}

.seta{
    width: 100%;
    height: 30%;
}

.cartao-seta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nao-visivel{
    opacity: 0;
    pointer-events: none;
}

.btn {
    background-color: #5e5796 !important;
    padding: 5px 20px;
    color: white;
}

#salvar {
    margin: 10px auto;
    padding-left: 30px;
    padding-right: 30px;
}